@charset "iso-8859-1";
/* =CALL LIBRARY */
@import url("reset-min.css"); /* ------- Reset all CSS Styles */

/* =GENERAL - the general styles */
#customBtn {
    display: inline-block;
    background: #cc3732;
    color: white;
    width: 175px;
    border-radius: 5px;
}
#customBtn:hover {
    background: #e74b37;
    cursor: hand;
}
#fbBtn {
    display: inline-block;
    background: #3B5998;
    color: white;
    width: 175px;
    border-radius: 5px;
}
#fbBtn:hover {
    background: #5675CC;
    cursor: hand;
}
#twBtn {
    display: inline-block;
    background: #009DCE;
    color: white;
    width: 175px;
    border-radius: 5px;
}
#twBtn:hover {
    background: #00ACEE;
    cursor: hand;
}

span.icon {
    background: url('/GA/images/btn_red.png') transparent 50% 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
span.iconFb {
    background: url('/GA/images/facebook-icon.png') transparent 50% 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
span.iconTw {
    background: url('/GA/images/bird_black_48_0.png') transparent 50% 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
    padding-right: 40px;
}